#membership_form label {
	display: block;
}

#membership_form input[type="text"],
#membership_form input[type="email"] {
	width: 90%;
}

#business-picker .alert {
	margin: 10px;
	padding: 20px;
	border: 1px solid #B90504;
}

#membership_form .explain {
	font-size: .9em;
	font-style: italic;
}