.invoice-header:after {
display: table;
content: '';
clear: both;
}

.invoice-header .invoice-header-contact {
	float: left;
	width: 60%;
}

.invoice-header .invoice-header-details {
	float: right;
	width: 35%;
}

#invoice .invoice-header h4 {
	margin: 0;
	padding: 0;
}

#invoice .invoice-header-details li {
	list-style-type: none;
}

@media print {
	.invoice-from {
		margin-bottom: 1em;
	}
	.invoice-description {
		margin: 2em 0;
	}
	table {
		width: 100%;
		margin-bottom: 2em;
	}
	th {
		font-weight: bold;
	}
	th, td {
		border: 1px solid #000 !important;
		padding: .5em !important;
	}
}

